# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

server.js
server.js.map

# tmp

tmp

# misc
.DS_Store
.env
npm-debug.log

dist

.idea

public/.DS_Store

