.padding-topdown{
	padding-top: 15px;
	padding-bottom: 15px;
}

.font-size-dropdown{
	font-size: 18px;
	color: white;
}

.tab-min-height{
	min-height: 400px;
}

.checkbox-lo{
	margin-top: 5px;
	margin-left:5px;
}

.checkbox-course{
	margin-top: 5px;
	margin-left:5px;
}

.rubix-panel-body {
	padding: 10px 0px
}

.checkbox label {
	margin-left: 10px;
	margin-right:10px;
}
.dropdown-menu{
	z-index: 9999990;
}
.courseThumb{
	margin-left: 5px;
	margin-right: 15px;
	height: 100px;
	width:200px;
	cursor: pointer;
	border-radius: 5px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.thumbBody{
	margin-top:20px;
}